.button {
  padding: 6px;
  width: 100px;
  background: #fdfdfd;
  border: solid 1px #ebebeb;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #565656;
  margin: 4px;
  margin-top: 8px;
  border: solid 3px #565656;
}

.button:hover {
  background: white;
  border: solid 3px #222222;
}

.active {
  color: #02cf87;
  transition: color 0.5s;
}

.hiddenOnMobile {}

@media screen and (max-width: 900px) {

  .expanded,
  .collapsed {
    display: none;
  }

  .button {
    padding: 9px;
  }

  .hiddenOnMobile {
    display: none;
  }
}